body {
	background-color: #79C879;
}

h1 {
	font-family: Helvetica;
	font-size: 70px;
}

table {
	background-color: #939393;
}

td{
	width: 150px;
	height: 150px;
	margin: auto;
	background-color: #939393;
	background-image: url("images/racetrack.png");
	
}

hr {
	border-top: dotted 1px #ff0000;

}


.finishLine {
	background-image: url("images/finishlinevertical.png");
	margin: auto;
}

#car-image{
	width: 150px;
}

.btn {
  background-color: white;
  text-decoration: none;
  border: 1px solid #777;
  padding: 10px;
  border-radius: 3px;
}

